# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# IDEs
*.iml
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# OS
ehthumbs.db
Icon?
